DATABASE_URL="postgresql://barcode_user:change-me@127.0.0.1:5432/barcode_app?schema=public"
AUTH_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
AUTH_SESSION_MAX_AGE_SECONDS="28800"
CAPACITOR_SERVER_URL="http://bcrs.dcode.co.ir/scanner?freshLogin=1"
